<!DOCTYPE html>
<html lang="en">
<style></style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<title>E-Zone</title>
</head>

<body style="background-color:#000; overflow-y: hidden;overflow-x: hidden;">
    <div class="container" style=" height: 100vh;">
        <div class="text-center mt-3">
            <p style="color:rgb(225,171,43); font-size:3.5rem;font-weight: 600; font-family:it"><span
                    style="color: #ffff;">E-</span> Zone</p>
        </div>
        <div class="row" style="padding-top:1rem;display: flex; justify-content: center;">
            <div class="col"
                style="border-style: solid; height:33rem ; max-width:45%;display: flex; border-radius: 2rem; background-color: rgba(129, 129, 129);">
                <div style="width:100%;">
                    <div style="margin-top:1rem;text-align: center;">
                        <h3 style="margin-top:1rem;">Reset Password</h3>
                    </div>
                    {{#if message}}
                    <form action="">
                        <label for="">New Password :</label><br>
                        <input type="password" name="password" class="form-control-lg"><br>
                        <label for="">Confirm Password :</label><br>
                        <input type="password" name="password" class="form-control-lg">
                    </form>
                    {{else}}
                    <form action="submit_mailForgotPassword" method="post">
                        <div class="mt-4" style="text-align: center;">
                            <input style="width:70%;" class="form-control-lg" type="email" name="email"
                                placeholder="Email-id"><br>
                            <button class="btn rounded-pill my-3 text-white" type="submit"
                                style="background-color: rgb(4, 110, 4);">Get OTP</button>
                        </div>
                    </form>
                    <form action="submit_forgotOTP" method="post">
                        <div style="text-align: center;">
                            <h5 class="my-3">OTP Verification :</h5>
                            <input style="width:40%;" class="form-control-lg" type="password" maxlength="6"
                                minlength="6" name="otp">
                            <p class="my-2">Enter the OTP send to your mail id</p>
                        </div>
                        <div class="text-center mt-3"> <a href="">Resend OTP</a></div>
                        <div class="text-center">
                            <button class="btn rounded-pill mt-5 text-white" type="submit"
                                style="background-color: rgb(4, 110, 4);">Submit</button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>