<!DOCTYPE html>
<html lang="en">

<head>
    <title>E-Zone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    {{!--
    <link rel="stylesheet" type="text/css" href="css/util.css"> --}}
    <link rel="stylesheet" type="text/css" href="/css/userLogin.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="images/img-01.png" alt="IMG">
                </div>
             <div>
                {{#if message}}
                 <h3 class="login100-form-title">
                        Reset Password
                    </h3>
                <form class="login100-form validate-form" action="/resetPassWord" method="post">
                    <div class="wrap-input100 validate-input" >
                        <label class="mt-4 mb-1" for="">New Password :</label><br>
                        <input class="input100" type="password" name="newPassword" class="form-control-lg mb-2">
                        <label class="my-1" for="">Confirm Password :</label><br>
                        <input class="input100" type="password" name="confirmPassword" class="form-control-lg mb-2">
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="/forgot_password">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="/user_signUp">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
                {{else}}
                {{#unless display}}
                 <h1 class="login100-form-title">
                        Reset Password
                    </h1>
                <form class="login100-form validate-form" action="submit_mailForgotPassword" method="post">
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="email" name="email" placeholder="Email-id"><br>
                        <div class="container-login100-form-btn" id="otpbutton">
                            <button class="login100-form-btn" type="submit" onclick="countDown()">
                                Login
                            </button>
                        </div>
                </form>
                {{else}}
                <h1 class="login100-form-title">
                        Reset Password
                    </h1>
                <form class="login100-form validate-form" action="submit_forgotOTP" method="post">
                    <div class="wrap-input100 validate-input">
                        <h5 class="my-3 text-center">OTP Verification :</h5>
                        <input class="input100" type="text" maxlength="6" minlength="6" name="otp">
                        <p class="my-2 text-center">Enter the OTP send to your mail id</p>
                        <div class="text-center mt-3 " style="color: rgb(10, 65, 100); font-size: small;" id="otpdiv"></div>
                        <div class="container-login100-form-btn" id="otpbutton">
                            <button class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>
                </form>
                {{/unless}}
                {{/if}}
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script>

        let count = 30;
        let countDown = setInterval(() => {
            count--
            document.getElementById('otpdiv').innerHTML = 'Resend OTP in ' + count + ' Seconds'

            if (count == 0) {
                clearInterval(countDown)
                document.getElementById('otpdiv').innerHTML = '<a a href = "" > Resend OTP</a>'

            }
        }, 1000)

    </script>
</body>

</html>