<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orderConfirm.css">
    <title>E-Zone</title>
</head>

<body>

    <div class="row g-0" style="height: 100vh;">
        <div class="col-md-12 border-right p-5 ">
            <div class="text-center order-details h-100">
                <div class="d-flex justify-content-center mb-5 flex-column align-items-center h-100"> <span
                        class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold fs-2">Your Order
                        Confirmed</span> <small class="my-3 fs-5">Product Delivers Within 3 Days</small> <a href="#"
                        class="text-decoration-none invoice-link ">View Invoice</a> <button
                        class="btn btn-danger btn-block order-button">Go to your Order</button>
                </div>
            </div>
        </div>
</body>

</html>