<!DOCTYPE html>
<html lang="en">

<head>
    <title>E-Zone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    {{!--
    <link rel="stylesheet" type="text/css" href="css/util.css"> --}}
    <link rel="stylesheet" type="text/css" href="/css/userLogin.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="images/img-01.png" alt="IMG">
                </div>
                <div>
                    <h1 class="login100-form-title">
                        OTP Verification
                    </h1>
                    <form class="login100-form validate-form" action="/signup_otp" method="post">
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" maxlength="6" minlength="6" name="otp">
                            {{#if message}}
                            <p class="text-center text-danger">{{message}}</p>
                            {{else}}
                            <p class="my-2 text-center">Enter the OTP send to your mail id</p>
                            {{/if}}
                            <div class="text-center mt-3 " style="color: rgb(10, 65, 100); font-size: small;"
                                id="otpdiv"></div>
                            <div class="container-login100-form-btn d-flex justify-content-between" id="otpbutton">
                                <button class='btn btn-warning rounded-pill' type="button"
                                    onclick="window.location.href='/user_signUp'">Back</button>
                                <button class="login100-form-btn" type="submit">
                                    SUBMIT
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script>

        let count = 30;
        let countDown = setInterval(() => {
            count--
            document.getElementById('otpdiv').innerHTML = 'Resend OTP in ' + count + ' Seconds'

            if (count == 0) {
                clearInterval(countDown)
                document.getElementById('otpdiv').innerHTML = '<a a href = "/resendOTP" > Resend OTP</a>'

            }
        }, 1000)

    </script>
</body>

</html>