<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Zone</title>
</head>
<style>

</style>

<body>

    {{#unless data}}
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center my-4">
            <h1>ADD CATEGORY</h1>
        </div>
        <div class="col-4 d-flex flex-row  mt-5" style="background-color: rgb(210, 234, 243); width: 40rem;">
            <form action="add_category" method="post">
                <label for="">Category :</label><br>
                <input class="form-control" type="text" name="category"><br>
                <label for="">Brand :</label><br>
                <textarea class="form-control" name="brandName" cols="50" rows="5"></textarea>
                <div class="text-center">

                    <button class="btn-success rounded-pill my-5" type="submit">submit</button>
                </div>

            </form>
        </div>
    </div>
    {{else}}
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center my-4">
            <h1>EDIT CATEGORY</h1>
        </div>
        <div class="col-4 d-flex flex-row  mt-5" style="background-color: rgb(210, 234, 243); width: 40rem;">
            <form action="/admin/updateCategory/{{data._id}}" method="post">
                <label for="">Category :</label><br>
                <input class="form-control" type="text" value="{{data.category}}" name="category"><br>
                <label for="">Brand :</label><br>
                {{!-- <input class="form-control" type="text" id="brand" name="brandName"><br><br> --}}
                <textarea class="form-control" name="brandName" cols="50" rows="5">{{data.brandName}}</textarea>
                {{!-- <button class="btn-success rounded-pill my-5" onclick="getBrand()" type="submit">submit</button>
                --}}
                <div class="text-center">

                    <button class="btn-success rounded-pill my-5" type="submit">submit</button>
                </div>

            </form>
        </div>
    </div>
    {{/unless}}

    {{!-- <div class="d-flex align-items-center"> --}}
        {{!-- <button style="height:2rem; width:7rem; margin-left:2rem; border-radius: 2rem; margin-top:7rem;"
            onclick="addBrands()">Add Brands</button><br><br> --}}
        {{!-- </div> --}}



    <script>
        /*  let brands = new Array();
          function addBrands() {
              let elements = document.getElementById("brand").value;
              brands.push(elements)
              document.getElementById('brand').value = null
                brands.forEach(values=>{
  document.getElementById('list').innerHTML=values
                })
          }
          function getBrand() {
              document.getElementById('brand').value = brands
             
          }*/

    </script>
</body>

</html>